@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

html {
  font-size: 70%;
}

.main-div {
  min-height: 100vh;
  background: #060822;
  display: flex;
  justify-content: center;
  align-items: center; 
  justify-items: center;
  width: 100%;
  height: 100vh;

}

.child-div {

   text-align: center;

}





.todo_span{
    color: rgb(231, 28, 28);
    font-weight: bold;
    font-size:100px;
    text-transform: capitalize;
}

.list_span{
    color:black;
    font-weight: bold;
    font-size:100px;
    text-transform: capitalize;
}

input {
  
  min-width: 450px;
 height: 60px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  border: none;

}

 


.fa {
  margin-left: -2.5rem;
  cursor: pointer;
  color: #666;
}
.fa:hover {
  color: rgb(47, 214, 122);

}




.eachItem {
     margin-top: 3rem;
  text-align: center;

  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  width: 40rem;

  background: rgb(85, 41, 220);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.eachItem:hover {
  background: rgb(249, 249, 252);
  color: rgb(85, 41, 220);
}

.showItems .eachItem h3 {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.fa-trash-alt,
.fa-edit {
  cursor: pointer;
  color: rgb(251, 251, 251);
  font-size: 2rem;
}




.fa-edit {
  margin-left: -3.5rem;
}


.eachItem:hover .fa-trash-alt {
  color: rgb(214, 47, 61);
}

.eachItem:hover .fa-edit {
  color: rgb(100, 214, 47);
}

.eachItem:hover h3 {
  color: rgb(85, 41, 220);
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

.effect04 {
 background-color: rgb(91, 91, 248);
 border-radius: 10px;
 color: white;
 font-weight: bold;
 font-size:150%;
 letter-spacing: 2px;
}
.effect04:hover{
   font-size:200%;
 letter-spacing: 4px;
}
.effect04:active{
color:  rgb(91, 91, 248);
background-color:white;
font-size:150%;
 letter-spacing: 2px;

}